
<nav-bar></nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <h2>Choose Music</h2>
            <div class="panel" style="padding: 20px">
              <h3>Happy</h3>
              <div  ng-repeat="song in $ctrl.happyMusicArray">
                <a href="{{song.link}}">{{song.link}}</a>
                <button class="btn btn-danger" ng-click="$ctrl.deleteSong('happy',song.link)">Delete</button>
              </div>
              <!-- <button class="btn btn-raised btn-success btn-xs" ng-click="$ctrl.addSong(\"Happy\", happySongLink)">
                        Add Song
              </button> -->

              <form ng-submit = "$ctrl.addSong('happy', $ctrl.inputNewHappySongLink); $ctrl.inputNewHappySongLink = null" class="form-inline" style="width: 100%">
                 <div class="form-group" style="margin-top: 5px; width: 100%">
                     <input id="inputNewHappySongLink" type="text" placeholder="New Song Link"
                            ng-model="$ctrl.inputNewHappySongLink" class="form-control" style="width: 100%">
                 </div>
                 <input type="submit" class="btn btn-raised btn-success" value="Add" style="margin-top: 1px">
             </form>

            </div>

              <div class="panel" style="padding: 20px">
                <h3>Sad</h3>
                <div  ng-repeat="song in $ctrl.sadMusicArray">
                  <a href="{{song.link}}">{{song.link}}</a>
                  <button class="btn btn-danger" ng-click="$ctrl.deleteSong('sad',song.link)">Delete</button>
                </div>
                <form ng-submit = "$ctrl.addSong('sad', $ctrl.inputNewSadSongLink); $ctrl.inputNewSadSongLink = null" class="form-inline" style="width: 100%">
                   <div class="form-group" style="margin-top: 5px; width: 100%">
                       <input id="inputNewSadSongLink" type="text" placeholder="New Song Link"
                              ng-model="$ctrl.inputNewSadSongLink" class="form-control" style="width: 100%">
                   </div>
                   <input type="submit" class="btn btn-raised btn-success" value="Add" style="margin-top: 1px">
               </form>
              </div>

                <div class="panel" style="padding: 20px">
                  <h3>Angry</h3>
                  <div  ng-repeat="song in $ctrl.angryMusicArray">
                    <a href="{{song.link}}">{{song.link}}</a>
                    <button class="btn btn-danger" ng-click="$ctrl.deleteSong('angry',song.link)">Delete</button>
                  </div>
                  <form ng-submit = "$ctrl.addSong('angry', $ctrl.inputNewAngrySongLink); $ctrl.inputNewAngrySongLink = null" class="form-inline" style="width: 100%">
                     <div class="form-group" style="margin-top: 5px; width: 100%">
                         <input id="inputNewAngrySongLink" type="text" placeholder="New Song Link"
                                ng-model="$ctrl.inputNewAngrySongLink" class="form-control" style="width: 100%">
                     </div>
                     <input type="submit" class="btn btn-raised btn-success" value="Add" style="margin-top: 1px">
                 </form>
                </div>

                  <div class="panel" style="padding: 20px">
                    <h3>Relaxed</h3>
                    <div  ng-repeat="song in $ctrl.relaxedMusicArray">
                      <a href="{{song.link}}">{{song.link}}</a>
                      <button class="btn btn-danger" ng-click="$ctrl.deleteSong('relaxed',song.link)">Delete</button>
                    </div>
                    <form ng-submit = "$ctrl.addSong('relaxed', $ctrl.inputNewRelaxedSongLink); $ctrl.inputNewRelaxedSongLink = null" class="form-inline" style="width: 100%">
                       <div class="form-group" style="margin-top: 5px; width: 100%">
                           <input id="inputNewRelaxedSongLink" type="text" placeholder="New Song Link"
                                  ng-model="$ctrl.inputNewRelaxedSongLink" class="form-control" style="width: 100%">
                       </div>
                       <input type="submit" class="btn btn-raised btn-success" value="Add" style="margin-top: 1px">
                   </form>
                  </div>

                    <div class="panel" style="padding: 20px">
                      <h3>Neutral</h3>
                      <div  ng-repeat="song in $ctrl.neutralMusicArray">
                        <a href="{{song.link}}">{{song.link}}</a>
                        <button class="btn btn-danger" ng-click="$ctrl.deleteSong('neutral',song.link)">Delete</button>
                      </div>
                      <form ng-submit = "$ctrl.addSong('neutral', $ctrl.inputNewNeutralSongLink); $ctrl.inputNewNeutralSongLink = null" class="form-inline" style="width: 100%">
                         <div class="form-group" style="margin-top: 5px; width: 100%">
                             <input id="inputNewNeutralSongLink" type="text" placeholder="New Song Link"
                                    ng-model="$ctrl.inputNewNeutralSongLink" class="form-control" style="width: 100%">
                         </div>
                         <input type="submit" class="btn btn-raised btn-success" value="Add" style="margin-top: 1px">
                     </form>
                    </div>

        </div>
    </div>
</div>
